apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: microservices-pr8
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: pr8-auth-service:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: JWT_SECRET
              value: "verysecret"
            - name: DB_PATH
              value: "/data/auth.db"
          volumeMounts:
            - name: data
              mountPath: /data
          ports:
            - containerPort: 8080
      volumes:
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: microservices-pr8
spec:
  selector:
    app: auth-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
