apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: prac8
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: pr8-gateway:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: JWT_SECRET
              value: "verysecret"
            - name: AUTH_SERVICE_URL
              value: "http://auth-service:8080"
            - name: USER_SERVICE_URL
              value: "http://user-service:8080"
            - name: ANIME_SERVICE_URL
              value: "http://anime-service:8080"
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: prac8
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
