apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: prac8
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: pr8-user-service:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: DB_PATH
              value: "/data/user.db"
          volumeMounts:
            - name: data
              mountPath: /data
          ports:
            - containerPort: 8080
      volumes:
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: prac8
spec:
  selector:
    app: user-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
